<script src="/socket.io/socket.io.js"></script>

<script>


    var socket = io()

    var send = function () {
        var text = document.getElementById('m').value
        socket.emit('chat message', text)
    }

    var receive = function (msg) {
        var li = document.createElement('li')

        li.innerText = msg

        document.getElementById('messages').appendChild(li)
    }
    listUser = (userlist) => {
        var pseudo = 'bruno'
        const li = document.createElement('li')
        li.innerText = pseudo
        document.getElementById('members').appendChild(li)
    }

    socket.on('chat message', receive)
    socket.on('new user', listUser)
</script>




       



<h3 class="title is-3">Chat</h3>
            

<div>

    <ul id="messages"></ul>

    <div class="send-mess field has-addons ">

        <div class="control inp">
            <input class="input is-rounded is-primary" type="text" id="m">
        </div>

        <div class="control but">

            <button class="button is-rounded is-primary" onclick="send()"> Send </button>

        </div>

    </div>

</div>




<style>
    #message{
        margin-left: 10px;
    }
    .inp {
        width: 90%;
    }

    .bout {
        width: 10%;
    }

    .send-mess {
        margin-left: 20px;
        margin-bottom: 10px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .input-mess {
        margin: 10px;
        width: 80%;
        height: 30x;
    }
</style>